/* Статьи - Добавить изображения */

.description {
	position: absolute;
	bottom: 0;
	width: calc(100% - 30px);
	left: 15px;
	background: rgba(0, 0, 127, 0.6);
	color: #fafafa;
	padding: 5px;
}

.description a {
	color: #e0e0ff;
}

.uploaded-images {
	height: 100%;
	background-color: #c0c0f2;
	padding: 10px;
}

.uploaded-images img {
	width: calc(100% - 10px);
	height: auto;
}