/* Уровень: федеральный, региональный */
.links-level {
	width: 100%;
	margin: 20px 0;
	padding-bottom: 10px;
	margin-bottom: 40px;
}

.links-level-title {
	width: 100%;
	margin-bottom: 0;
	padding: 10px;
	color: #fff;
	background-color: #289A89;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

/* Организация */
.links-organization {
	padding-bottom: 20px;
	border-top: 0px;
}

/* Заголовок ресурса */
.links-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	width: 100%;
	height: 50px;
	margin: 20px 10px 10px 10px;
}

.links-title-img {
	width: 50px;
	height: 50px;
	margin: 0 15px 0 20px
}

.links-title-img img {
	height: 100%;	
}

.links-title-text {
	width: calc(100% - 100px);
	line-height: 1.2!important;
}

.links-title-text div {
	width: 100%;
	height: 100%;
	
	font-size: 18px;
	font-weight: 600;
}

/* Контакты */
.links-contacts {
	margin-bottom: 40px;
}

.links-contacts-item {
	margin: 10px;
	padding: 10px;
	/* width: calc(50% - 20px); */
	color: #fff;
	box-shadow: 0 0 5px #000;	
	text-align: center;
}

.links-contacts a {
	width: 100%;
	height: 100%;
	margin: 0;
}

.links-contacts-item-table {
	height: 100%;
	width: 100%;
	display: table;
}

.links-contacts-item-table div {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.links-contacts-item:hover {
	color: #fff;
}

.links-tel {background-color: #ab46df;}
.links-tel:hover {background-color: #9b26bf;}
.links-link {background-color: #61ce70;}
.links-link:hover {background-color: #41ae50;}
.links-vk {background-color: #4872a3;}
.links-vk:hover {background-color: #285283;}
.links-ok {background-color: #ee8208;}
.links-ok:hover {background-color: #de7200;}
.links-mail {background-color: #06f;}
.links-mail:hover {background-color: #04d;}

table.doc {margin-bottom: 0!important;}
table.doc td {padding: 10px!important;}
table.doc img, table.doc span {float: left;}

.doc-title {
	font-weight: 600;
	margin-bottom: 6px;
}


/*======
faq
========*/
    
.summary {
    padding: 10px;
    padding-bottom: 14px;
    color: #856404;
    background: #fff3cd;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-left: 6px;
    margin-right: 6px;
}

.details[open] summary {
    border-radius: 25px 25px 0 0;
    margin-left: 0;
    margin-right: 0;
}

.summary::-webkit-details-marker {
    display: none
}

.summary::before {
    background-color: #99CCFF;
    border-radius: 30px;
    border: 3px solid #31749B;
    content: "+";
    float: right;
    font-size: 31px!important;
    color: #31749B;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 22px;
}
.details[open] summary::before {
    content: "-";
}

.details[open] {
    border-radius: 25px;
    color: #0c5460;
    background-color: #d1ecf1;
    margin-bottom: 25px;
    margin-left: 6px;
    margin-right: 6px;
}

.details[open] summary:focus {
    box-shadow: 0 0 0 0;
    border: 2px solid #428bcad1;
    outline: none;
}

.summary:focus {
    box-shadow: 0 0 0 2px #ffffff,
                0 0 0 4px #60c7eb85;
    outline: none;
}

.p-details{padding: 0 15px 30px 15px;}

.span-summary{
   margin-left: 10px;
   margin-right: 15px;
}


@media (max-width: 768px) {
	.links-level-title, .links-title-text div {	
		font-size: 18px;	
	}
	
	.links-contacts-item-table div {
		font-size: 12px;
	}
}

@media (max-width: 480px) {
	.links-level-title, .links-title-text div {	
		font-size: 16px;	
	}
	
	.links-contacts-item-table div {
		font-size: 10px;
	}
}